# === Bed Heater ===
[heater_bed]
heater_pin: PD7
sensor_pin: PA1

sensor_type: EPCOS 100K B57560G104F

# === MACHINE-SPECIFIC STARTING VALUES ===
# Run PID_CALIBRATE and replace these values.

control: pid
pid_Kp: 70
pid_Ki: 1
pid_Kd: 1000

min_temp: 18
max_temp: 100 # Max enligt Anycubic 90
