# ===
# FLÄKTAR
# ===

# Part cooling-fläkt
# Styrs med M106 / M107 och reglaget i Mainsail
[fan]
pin: PB7
kick_start_time: 0.5
off_below: 0.10

# Hotendens kylfläkt
# Startar automatiskt när hotenden är över 50 °C
[heater_fan hotend_fan]
pin: PB6
heater: extruder
heater_temp: 50.0
fan_speed: 1.0
kick_start_time: 0.5