# === PRINT_START ===
[gcode_macro PRINT_START]
description: Startar utskrift med uppvärmning, homing, KAMP-mesh och adaptiv purge
gcode:
    {% set BED = params.BED|default(55)|float %}
    {% set EXTRUDER = params.EXTRUDER|default(210)|float %}

    # Setup med rätt enheter
    G21
    G90
    M83
    M107

    # Börja värma bädd och håll munstycket på en temperatur
    # som minskar väntetiden utan att det står och rinner.
    M140 S{BED}
    M104 S150

    # Homa X/Y medan bädden värms.
    G28 X Y

    # Vänta på rätt bäddtemperatur innan Z-homing och mesh.
    M190 S{BED}

    # Homa Z med uppvärmd bädd och varm men relativt ren nozzle.
    G28 Z

    # Ta bort eventuell gammal mesh och skapa KAMP-mesh
    # runt objekten i aktuell G-code.
    BED_MESH_CLEAR
    BED_MESH_CALIBRATE

    # Parkera nära modellen medan nozzle når full temperatur.
    SMART_PARK
    M109 S{EXTRUDER}

    # Adaptiv purge nära utskriftsområdet.
    LINE_PURGE

    G92 E0
; === PRINT_START end ===



[delayed_gcode LED_ON]
initial_duration: 1 	# Lampan startar 1 sek efter klipper startar

gcode:
    SET_PIN PIN=nozzle_led VALUE=1 # 1=på 0=av
    G4 P500
  	SET_PIN PIN=nozzle_led VALUE=0 # 1=på 0=av
	G4 P500
  	SET_PIN PIN=nozzle_led VALUE=1 # 1=på 0=av
    G4 P500
  	SET_PIN PIN=nozzle_led VALUE=0 # 1=på 0=av
    G4 P500
  	SET_PIN PIN=nozzle_led VALUE=1 # 1=på 0=av