[include mainsail.cfg]

# Printer
[include steppers.cfg]
[include tmc.cfg]
[include fans.cfg]
[include bed.cfg]
[include leviq_probe.cfg]
[include accessories.cfg]
[include macros.cfg]

# Extensions
[include KAMP_Settings.cfg] # KAMP
[include autotune_tmc.cfg] # TMC Autotune



[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h......... # Your MCU id here <----

[printer]
kinematics: cartesian

max_velocity: 300
max_accel: 3000
max_z_velocity: 10
max_z_accel: 100

[virtual_sdcard]
path: /home/admin/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[pause_resume]

[display_status]

[exclude_object]
